@charset "UTF-8";

.proto_test_txt {
	color: #f00;
	font-weight: bold;
}

.pr_mae-mincho {
	font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", 游明朝, YuMincho, HGS明朝E, serif;
}

/*proto add 20191028 css SP base*/
/***all***/
/***pc***/
@media screen and (min-width: 768px) {
    .pr_pc-none {
        display: none !important;
    }
}
/***sp***/
@media screen and (max-width: 767px) {
    .pr_sp-none {
        display: none !important;
    }
}

/***all slider settings init***/

/****present page****/
.pr_mae-pre-sc-base-slide-box li {
	display: none;
}
.bx-viewport .pr_mae-pre-sc-base-slide-box li {
	display: block !important;
}
/****beginner page****/
.pr_mae-beg-base-slide001 li {
	display: none;
}
.bx-viewport .pr_mae-beg-base-slide001 li {
	display: block !important;
}


/****present page start****/
/***pc-sp common***/
.pr_mae-main {
	display: block;
	margin-bottom: 80px;
	padding: 0 20px;
}
.pr_mae-main * {
	color: #4D4D4D;
	box-sizing: border-box;
}
.pr_mae-main img {
	display: block;
	width: 100%;
}
@media screen and (min-width: 768px) {
	.pr_mae-main {
		min-width: 1140px;
		margin: 0 auto;
		margin-bottom: 78px;
		padding: 0 70px;
		padding-top: 46px;
	}
}
@media screen and (min-width: 767px) {
	
}
/**fv sect**/
.pr_mae-pre-fv-sect {
	padding-bottom: 66px;
}
.pr_mae-pre-fv-ttl-box {
	position: relative;
	margin-bottom: 23px;
}
.pr_mae-pre-fv-ttl-box img {
	object-fit: cover;
  min-height: 140px;
  height: 37.3vw;
}
.pr_mae-pre-fv-ttl {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	    transform: translate(-50%,-50%);
	font-size: 24px;
	font-weight: normal;
	color: #fff;
}
.pr_mae-pre-fv-lead {
	margin-bottom: 32px;
	line-height: 2;
	font-size: 14px;
	color: #404040;
}
.pr_mae-pre-anker-list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.pr_mae-pre-anker-list li {
	width: calc( (100% - 4px) / 3);
}
.pr_mae-pre-anker-list li + li {
	margin-left: 2px;
}
.pr_mae-pre-anker-list li a {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	    justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 76px;
	padding: 20px 5px;
	font-size: 13px;
	font-weight: bold;
	line-height: 1.53;
	text-align: center;
	background: #f6f5f2;
}
.pr_mae-pre-anker-list li a:before {
	content: "";
	position: absolute;
	bottom: -12px;
	left: 50%;
	display: block;
	border: 6px solid transparent;
	border-top: 10.3px solid #d06f6f;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	    transform: translateX(-50%);
}
.pr_mae-pre-all-sect-ttl {
	margin-bottom: 26px;
	padding: 20px 0 19px;
	font-size: 22px;
	text-align: center;
	border-top: 1px solid #D99898;
	border-bottom: 1px solid #D99898;
}
/**pr_mae-pre-guide-sect**/
.pr_mae-pre-guide-sect {
	padding-bottom: 73px;
}
.pr_mae-pre-guide-sect .pr_mae-pre-all-sect-ttl {}
.pr_mae-pre-gu-point-list {
	list-style: none;
}
.pr_mae-pre-gu-point-list li + li {
	margin-top: 75px;
}
.pr_mae-pre-gu-plist-ttl {
	margin-bottom: 21px;
	font-size: 18px;
	text-align: center;
}
.pr_mae-pre-gu-plist-sttl {
	display: block;
	margin-bottom: 6px;
	font-size: 12px;
	color: #cc6262;
}
.pr_mae-pre-gu-plist-lead {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	  -ms-flex-pack: center;
	      justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	  -ms-flex-align: center;
	      align-items: center;
	height: 74px;
	margin-bottom: 30px;
	padding: 16px 28px;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.5;
	text-align: center;
	background: #f7eaea;
	border-radius: 6px;
}
.pr_mae-pre-gu-plist-lead:before {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 50%;
	display: block;
	border: 8px solid transparent;
	border-top: 17px solid #f7eaea;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	    transform: translateX(-50%);
}
.pr_mae-pre-gu-plist-descript {
	font-size: 14px;
	line-height: 2;
}
.pr_mae-pre-gu-plist-descript + p {
	margin-top: 11px;
}
.pr_mae-pre-gu-plist-descript-margin {
	margin-bottom: 20px;
}
.pr_mae-pre-gu-plist-descript strong {
	font-weight: bold;
}
/*item002*/
.pr_mae-pre-gu-plist-item002 .pr_mae-pre-gu-plist-img001 {
	margin-bottom: 10px;
}
.pr_mae-pre-gu-plist-item002 .pr_mae-pre-gu-plist-img002 {}

/*item003*/
.pr_mae-pre-gu-plist-item003 .pr_mae-pre-gu-plist-img001 {
	margin-bottom: 10px;
}
.pr_mae-pre-gu-plist-item003 .pr_mae-pre-gu-plist-img002 {
	margin-bottom: 23px;
}
/**pr_mae-pre-scene-sect**/
.pr_mae-pre-scene-sect {
	padding-bottom: 50px;
}
.pr_mae-pre-scene-sect .pr_mae-pre-all-sect-ttl {
	margin-bottom: 40px;
}
/*box common*/
.pr_mae-pre-sc-box + .pr_mae-pre-sc-box {
	margin-top: 59px;
}
.pr_mae-pre-sc-ttl {
	position: relative;
	margin-bottom: 23px;
	padding: 26px 22px 24px;
	font-size: 18px;
	font-weight: bold;
	background: #f0f0f0;
	border-radius: 6px;
}
img.pr_mae-pre-sc-ttl-illast {
	position: absolute;
	top: 50%;
	right: 10px;
	display: block;
	width: 112px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	    transform: translateY(-50%);
}
.pr_mae-pre-sc-ttl span {
	position: relative;
	z-index: 5;
}
.pr_mae-pre-sc-ttl em {
	font-size: 14px;
}
.pr_mae-pre-sc-main-txt {
	margin-bottom: 19px;
	font-size: 14px;
	line-height: 2;
}
img.pr_mae-pre-sc-main-img {
	width: 77.7%;
  margin: 0 auto;
  margin-bottom: 48px;
}
.pr_mae-pre-sc-base-slide-box {
	position: relative;
	margin: 0 -20px;
	margin-bottom: 30px;
	padding: 48px 0 36px 20px;
	background: #0f0;
}
.pr_mae-pre-sc-bsbox-ttl {
	position: absolute;
	top: -19px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	  transform: translateX(-50%);
	display: inline-block;
	min-width: 240px;
	padding: 9px 10px 10px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	border-radius: 20px;
	background: #f00;
}
.pr_mae-pre-sc-base-slide-box .bx-viewport {
	background: none;
}
.pr_mae-pre-sc-base-slide-box .bx-wrapper {
	max-width: 100% !important;
	margin-bottom: 27px !important;
}
.pr_mae-pre-sc-list {
	list-style: none;
}
.pr_mae-pre-sc-list li {
	background: #fff;
}
.slick-test {
	width: 100% !important;
}
.slick-test.pr_mae-pre-sc-list li {

}
.slick-test.pr_mae-pre-sc-list li + li {
	margin-left: 20px !important;
}
.pr_mae-pre-sc-list li.bx-clone {
	display: none !important;
}
.pr_mae-pre-sc-list li + li + li {
	
}
.pr_mae-pre-sc-list li a {
	display: block;
	padding: 0 0 14px;
	width: 100%;
	text-decoration: underline;
}
.pr_mae-pre-sc-list li a:hover {
	text-decoration: none !important;
}
.pr_mae-pre-sc-list li a img {
	margin-bottom: 12px;
}
.pr_mae-pre-sc-list-link-txt {
	padding: 0 15px;
	font-size: 13px;
	line-height: 1.69;
	text-align: left;
}
.pr_mae-pre-sc-more {
	display: block;
	min-width: 100px;
	max-width: 260px;
	margin: 0 auto;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
	color: #000066;
}
a.pr_mae-pre-sc-more:link,
a.pr_mae-pre-sc-more:visited,
a.pr_mae-pre-sc-more:active {
	color: #000066;
	text-decoration: underline;
}
a.pr_mae-pre-sc-more:hover {
	text-decoration: none !important;
}
/*box001*/
.pr_mae-pre-sc-box001 .pr_mae-pre-sc-ttl {
	background: #f7f5ea;
}
.pr_mae-pre-sc-box001 .pr_mae-pre-sc-bsbox-ttl {
	background: #bfb991;
}
.pr_mae-pre-sc-box001 .pr_mae-pre-sc-base-slide-box {
	background: #faf9f2;
}
/*box002*/
.pr_mae-pre-sc-box002 .pr_mae-pre-sc-ttl {
	background: #ebeff2;
}
.pr_mae-pre-sc-box002 .pr_mae-pre-sc-bsbox-ttl {
	background: #adbcc7;
}
.pr_mae-pre-sc-box002 img.pr_mae-pre-sc-ttl-illast {
	top: 39%;
	right: 15px;
	width: 76px;
  height: 116px;
}
.pr_mae-pre-sc-box002 .pr_mae-pre-sc-base-slide-box {
	background: #f3f5f7;
}
/*box003*/
.pr_mae-pre-sc-box003 .pr_mae-pre-sc-ttl {
	background: #f7efea;
}
.pr_mae-pre-sc-box003 .pr_mae-pre-sc-bsbox-ttl {
	background: #c4b7af;
}
.pr_mae-pre-sc-box003 img.pr_mae-pre-sc-ttl-illast {
	top: 31%;
  right: 7px;
	width: 110px;
  height: 90px;
}
.pr_mae-pre-sc-box003 .pr_mae-pre-sc-base-slide-box {
	background: #faf5f2;
}
/*pr_mae-pre-gift-sect*/
.pr_mae-pre-gift-sect {
	margin-bottom: 52px;
}
.pr_mae-pre-gift-sect .pr_mae-pre-all-sect-ttl {
	margin-bottom: 40px;
}
.pr_mae-pre-gf-first-img-box {
	margin-bottom: 23px;
}
.pr_mae-pre-gf-first-img-box img + img {
	margin-top: 20px;
}
.pr_mae-pre-gf-lead {
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 2;
	color: #404040;
}
.pr_mae-pre-gf-lead strong {
	font-weight: bold;
}
.pr_mae-pre-gf-sample-box {
	margin-bottom: 31px;
}
.pr_mae-pre-gf-fig {
	margin: 0;
}
.pr_mae-pre-gf-fig img {
	margin-bottom: 12px;
}
.pr_mae-pre-gf-fig + .pr_mae-pre-gf-fig {
	margin-top: 36px;
}
.pr_mae-pre-gf-fig figcaption {
	font-size: 13px;
	text-align: center;
}
.pr_mae-link-arrow-txt {
	position: relative;
	font-size: 16px;
	padding-right: 20px;
	color: #000066;
}	
.pr_mae-link-arrow-txt:before{
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	width: 8px;
	height: 16px;
	background: url(https://gigaplus.makeshop.jp/maeharakouei/proto_add/img/common/icon_link-arrow-right.svg) no-repeat;
	background-size: 100% auto;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
/**pr_mae-pre-note-area**/
.pr_mae-pre-note-area {
	padding: 22px 15px 33px;
	border: 1px solid #D07070;
	border-radius: 6px;
}
.pr_mae-pre-note-ttl {
	margin-bottom: 14px;
  padding-bottom: 10px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	border-bottom: 1px dotted #858382;
}
.pr_mae-pre-note-main-txt {
	font-size: 14px;
	line-height: 2;
}
.pr_mae-pre-note-main-txt strong {
	font-weight: bold;
	color: #cc6262;
}

@media screen and (min-width: 768px) {
	.pr_mae-pre-fv-ttl-box {
		margin-bottom: 33px;
	}
	.pr_mae-pre-fv-ttl-box img {
		height: auto;
	}
	.pr_mae-pre-fv-ttl {
		font-size: 30px;
	}
	.pr_mae-pre-pc-txt-width {
		max-width: 750px;
		margin: 0 auto;
	}
	.pr_mae-pre-fv-lead {
    margin-bottom: 50px;
    line-height: 2.14;
	}
	.pr_mae-pre-anker-list {
		max-width: 946px;
    width: 82%;
    margin: 0 auto;
	}
	.pr_mae-pre-anker-list li a {
		height: 100px;
		font-size: 18px;
	}
	.pr_mae-pre-anker-list li a:before {
		border: 7px solid transparent;
    border-top: 11.3px solid #d06f6f;
		-webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
	}
	.pr_mae-pre-anker-list li a:hover::before {
		-webkit-transform: translate(-50%,9px);
    -ms-transform: translate(-50%,9px);
    transform: translate(-50%,9px);
	}
	.pr_mae-pre-cont-width-adj-pc {
		max-width: 946px;
    width: 90%;
    margin: 0 auto;
	}
	.pr_mae-pre-all-sect-ttl {
		margin-bottom: 45px;
		padding: 13px 0 15px;
		font-size: 28px;
	}
	/**guide sect start**/
	.pr_mae-pre-guide-sect {
		padding-bottom: 79px;
	}
	.pr_mae-pre-gu-point-list {
		max-width: 946px;
    width: 90%;
    margin: 0 auto;
	}
	.pr_mae-pre-gu-point-list li + li {
		margin-top: 37px;
	}
	.pr_mae-pre-gu-plist-lead {
		width: 100%;
		height: 46px;
		margin-bottom: 34px;
	}
	.pr_mae-pre-gu-plist-ttl {
		margin-bottom: 42px;
		font-size: 28px;
	}
	.pr_mae-pre-gu-plist-sttl {
		margin-bottom: 9px;
		font-size: 14px;
	}
	.pr_mae-pre-gu-plist-descript {
		line-height: 2.14;
	}
	.pr_mae-pre-gu-plist-descript + p {
		margin-top: 12px;
	}
	.pr_mae-pre-pc-flex-cont {
		display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		    align-items: flex-start;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		  flex-wrap: wrap;
	}
	/*ie only*/
	@media all and (-ms-high-contrast: none){
	  .pr_mae-pre-pc-flex-cont {
	    -webkit-flex-wrap: nowrap;
				-ms-flex-wrap: nowrap;
		  	flex-wrap: nowrap;
	  }
	}
	/*iteme001*/
	.pr_mae-pre-gu-plist-item001 .pr_mae-pre-pc-flex-inner {
		width: calc(58.1% + 46px);
		padding-right: 46px;
	}
	.pr_mae-pre-gu-plist-item001 img.pr_mae-pre-gu-plist-img {
		width: calc(100% - 58.1% - 46px);
	}
	/*item002*/
	.pr_mae-pre-gu-plist-item002 .pr_mae-pre-pc-flex-inner {
		-webkit-box-ordinal-group: 2;
		-webkit-order: 1;
		-ms-flex-order: 1;
		    order: 1;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		  align-items: center;
		width: 100%;
	}
	.pr_mae-pre-gu-plist-item002 .pr_mae-pre-gu-plist-lead {
		width: 100%;
		margin-bottom: 40px;
	}
	.pr_mae-pre-gu-plist-item002 .pr_mae-pre-pc-img-box {
		display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
		-webkit-box-ordinal-group: 1;
		-webkit-order: 0;
		-ms-flex-order: 0;
		  	order: 0;
		width: 100%;
		margin: 0 -15px 33px;
	}
	.pr_mae-pre-gu-plist-item002 .pr_mae-pre-gu-plist-img001,
	.pr_mae-pre-gu-plist-item002 .pr_mae-pre-gu-plist-img002 {
		margin-bottom: 0;
		width: 50%;
		padding: 0 15px;
	}
	.pr_mae-pre-gu-point-list li.pr_mae-pre-gu-plist-item002 + li {
		margin-top: 36px;
	}
	/*item003*/
	/*.pr_mae-pre-gu-plist-item003 .pr_mae-pre-gu-plist-descript {
		max-width: 638px;
		width: 81%;
    margin: 0 auto;
	}*/
	.pr_mae-pre-gu-plist-item003 .pr_mae-pre-gu-plist-descript + p {
		margin-top: 9px;
	}
	.pr_mae-pre-gu-plist-descript strong {
		font-size: 16px;
	}
	.pr_mae-pre-gu-plist-item003 .pr_mae-pre-gu-plist-descript.pr_mae-pre-gu-plist-descript-margin  {
		margin-bottom: 30px;
	}
	.pr_mae-pre-gu-plist-item003 .pr_mae-pre-pc-flex-cont {
		margin: 0 -15px;
	}
	.pr_mae-pre-gu-plist-item003 .pr_mae-pre-pc-flex-cont img.pr_mae-pre-gu-plist-img001,
	.pr_mae-pre-gu-plist-item003 .pr_mae-pre-pc-flex-cont img.pr_mae-pre-gu-plist-img002 {
		width: 50%;
		margin-bottom: 32px;
		padding: 0 15px;
	}
	/*.pr_mae-pre-gu-plist-item003 .pr_mae-pre-gu-plist-descript:last-of-type {
		max-width: 742px;
    width: 85%;
	}*/
	/**guide sect end**/

	/**scene sect**/
	.pr_mae-pre-scene-sect {
		padding-bottom: 89px;
	}
	.pr_mae-pre-scene-sect .pr_mae-pre-all-sect-ttl {
		margin-bottom: 70px;
	}
	.pr_mae-pre-sc-box + .pr_mae-pre-sc-box {
		margin-top: 80px;
	}
	.pr_mae-pre-scene-sect .pr_mae-pre-cont-width-adj-pc {
		margin-bottom: 50px;
	}
	.pr_mae-pre-scene-sect .pr_mae-pre-pc-flex-inner {
		width: calc(59% + 26px);
    padding-right: 26px;
	}
	.pr_mae-pre-sc-ttl {
		margin-bottom: 25px;
		padding: 8px 17px 3px;
		font-size: 24px;
	}
	.pr_mae-pre-sc-ttl em {
		font-size: 24px;
	}
	.pr_mae-pre-sc-main-txt {
		line-height: 2.14;
	}
	.pr_mae-pre-sc-main-txt strong {
		font-weight: bold;
	}
	img.pr_mae-pre-sc-main-img {
		width: calc(100% - 59% - 26px);
		margin-bottom: 0;
	}
	.pr_mae-pre-sc-base-slide-box {
		padding: 53px 0 40px 20px;
		margin: 0 auto;
	}
	.pr_mae-pre-sc-base-slide-box .bx-wrapper {
		display: none !important;
	}
	.pr_mae-pre-sc-list {
		max-width: 750px;
		width: 80%;
		margin: 0 auto;
		margin-bottom: 22px;
	}
	.pr_mae-pre-sc-list li {
		width: calc((100% - 90px) / 4);
	}
	.pr_mae-pre-sc-list li + li {
		margin-left: 30px;
	}
	.pr_mae-pre-sc-list li a {
		padding: 0 0 26px;
	}
	.pr_mae-pre-sc-list-link-txt {
		padding: 0 10px;
	}
	.pr_mae-pre-sc-bsbox-ttl {
		min-width: 240px;
		padding: 10px 10px 10px;
		font-size: 14px;
	}
	/*box002 only*/
	.pr_mae-pre-pc-flex-row-reverse {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
		-webkit-flex-flow: row-reverse;
		-ms-flex-flow: row-reverse;
		    flex-flow: row-reverse;
	}
	.pr_mae-pre-sc-box002 .pr_mae-pre-pc-flex-inner {
		padding-right: 0;
		padding-left: 26px;
	}
	.pr_mae-pre-sc-box002 img.pr_mae-pre-sc-ttl-illast {
		top: 18%;
		right: 25px;
    width: 85px;
    height: 126px;
	}
	/*box003 only*/
	.pr_mae-pre-sc-box003 img.pr_mae-pre-sc-ttl-illast {
		top: -8%;
    right: 17px;
    width: 110px;
    height: 90px;
	}
	/**gift sect start***/
	.pr_mae-pre-gift-sect {
		margin-bottom: 55px;
	}
	.pr_mae-pre-gift-sect .pr_mae-pre-all-sect-ttl {
		margin-bottom: 60px;
	}
	.pr_mae-pre-gf-first-img-box {
		margin: 0 -15px;
		margin-bottom: 30px;
	}
	img.pr_mae-pre-gf-img001,
	img.pr_mae-pre-gf-img002 {
		width: 50%;
		padding: 0 15px;
	}
	img.pr_mae-pre-gf-img001 + img.pr_mae-pre-gf-img002 {
		margin-top: 0;
	}
	.pr_mae-pre-gf-lead {
    margin-bottom: 32px;
    line-height: 2.14;
	}
	.pr_mae-pre-gf-lead	strong {
		font-size: 16px;
	}
	.pr_mae-pre-gf-sample-box {
		margin: 0 -5px;
		margin-bottom: 54px;
	}
	.pr_mae-pre-gf-sample-box .pr_mae-pre-gf-fig {
		width: calc(100% / 3);
		padding: 0 5px;
	}
	.pr_mae-pre-gf-fig + .pr_mae-pre-gf-fig {
		margin-top: 0;
	}
	.pr_mae-pre-gf-fig img {
		margin-bottom: 8px;
	}
	.pr_mae-link-arrow-txt:before {
		width: 9px;
		height: 18px;
	}
	/**note area**/
	.pr_mae-pre-note-area {
		padding: 27px 15px 36px;
	}
	.pr_mae-pre-note-inner-pc {
		max-width: 750px;
		width: 90%;
		margin: 0 auto;
	}
	.pr_mae-pre-note-ttl {
		margin-bottom: 11px;
    padding-bottom: 12px;
	}
	.pr_mae-pre-note-main-txt {
		line-height: 2.14;
	}
}
@media screen and (max-width: 767px) {
	.pr_mae-pre-fv-ttl-box {
		margin-left: -20px;
		margin-right: -20px;
	}
}
/****present end****/

/****beginer page start****/
.pr_mae-beg-fv-area {}
.pr_mae-beg-fv-ttl-box {
	position: relative;
}
.pr_mae-beg-fv-img {
	object-fit: cover;
	/*height: 140px;*/
	min-height: 140px;
	height: 37.3vw;
}
.pr_mae-beg-fv-ttl {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
	font-size: 24px;
	font-weight: bold;
	color: #fff;
}
.pr_mae-beg-fv-txt-anker-box {
	padding: 30px 0 70px;
}
.pr_mae-beg-fv-lead {
	margin-bottom: 21px;
	font-size: 14px;
	line-height: 2;
	color: #404040;
}
.pr_mae-beg-margin-cancel {
	margin-bottom: 0;
}
.pr_mae-beg-fv-anker-list {
	margin-bottom: 26px;
}
.pr_mae-beg-fv-anker-list li + li {
	margin-top: 4px;
}
.pr_mae-beg-fv-anker-list li a {
	display: block;
	padding: 6px 15px 5px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: #000066;
	background: #F6F5F2;
	pointer-events: none;
}
/***all sect common***/
.pr_mae-beg-sect-ttl {
	margin-bottom: 23px;
	padding-bottom: 14px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	border-bottom: 2px solid #C7C5C3;
}
.pr_mae-beg-sect-lead {
	margin-bottom: 29px;
	font-size: 14px;
	line-height: 2;
}
/**select sect**/
.pr_mae-beg-select-sect {
	margin-bottom: 77px;
}
.pr_mae-beg-slide-box {
	position: relative;
	text-align: center;
	max-width: 600px;
	margin: 0 auto;
}
.pr_mae-beg-slide-name {
	display: inline-block;
	font-size: 14px;
	margin-bottom: 22px;
}
.pr_mae-beg-sel-list {
	width: 100%;
	margin-bottom: 38px;
	padding: 0 30px 34px;
}
.pr_mae-beg-sel-list li {
	padding: 0 33px;
}
.pr_mae-beg-sel-list li img {
	margin-bottom: 8px;
}
.pr_mae-beg-sel-list-item-name {
	font-size: 14px;
}

/**slide arrow**/
.pr_mae-beg-slide-arrow {
	position: absolute;
	top: 50%;
	display: block;
	width: 18px;
	height: 33px;
}
.pr_mae-beg-slide-arrow .bx-prev,
.pr_mae-beg-slide-arrow .bx-next {
	position: absolute;
  top: 50%;
  left: 50%;
	display: block;
	width: 200%;
	height: 200%;
	opacity: 0;
	margin: 0 !important;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	    transform: translate(-50%,-50%);
}
.pr_mae-beg-arrow-left {
	left: -10px;
	background: url(https://gigaplus.makeshop.jp/maeharakouei/proto_add/img/beginer/icon_slider-arrow-left.svg) no-repeat;
	background-size: 100% auto;
}
.pr_mae-beg-arrow-right {
	right: -10px;
	background: url(https://gigaplus.makeshop.jp/maeharakouei/proto_add/img/beginer/icon_slider-arrow-right.svg) no-repeat;
	background-size: 100% auto;
}
/*pager*/
.pr_mae-beg-slide-box .bx-wrapper .bx-pager {
	display: block !important;
	bottom: -32px !important;
}
.pr_mae-beg-slide-box .bx-pager.bx-default-pager .bx-pager-item:last-child {
	margin-right: 0 !important;
}
.pr_mae-beg-slide-box .bx-pager-item .bx-pager-link {
	margin: 0 4px !important;
	background: #707070 !important;
	border: 1px solid #707070 !important;
}
.pr_mae-beg-slide-box .bx-pager-item .bx-pager-link.active {
	background: #fff !important;
	border: 1px solid #707070 !important;
}


/**select sect end**/
.pr_mae-beg-square-link {
	position: relative;
	display: block;
	max-width: 400px;
	margin: 0 auto;
	margin-bottom: 40px;
	padding: 18px 20px 18px;
	color: #000066;
	text-align: center;
	border: 1px solid #000066;
}
.pr_mae-beg-square-link:visited,
.pr_mae-beg-square-link:link,
.pr_mae-beg-square-link:active {
	color: #000066;
}
.pr_mae-beg-square-link:hover {
	opacity: 1;
	color: #fff;
  background: #000066
}
.pr_mae-beg-arrow-link:before,
.pr_mae-beg-arrow:before {
	content: "";
	position: absolute;
	top: 50%;
	right: 10px;
	width: 11px;
	height: 21px;
	background: url(https://gigaplus.makeshop.jp/maeharakouei/proto_add/img/common/icon_link-arrow-right.svg) no-repeat;
	background-size: 100% auto;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	    transform: translateY(-50%);
}
.pr_mae-beg-square-link:hover::before {
	background: url(https://gigaplus.makeshop.jp/maeharakouei/proto_add/img/common/icon_link-hover-arrow-right.svg) no-repeat;
	background-size: 100% auto;
}
.pr_mae-beg-square-link strong {
	display: block;
	margin-bottom: 1px;
	font-size: 20px;
	font-weight: normal;
	color: #000066;
	text-align: center;
}
.pr_mae-beg-square-link span {
	display: block;
	font-size: 12px;
	font-weight: bold;
	color: #000066;
	text-align: center;
}
.pr_mae-beg-square-link:hover strong,
.pr_mae-beg-square-link:hover span {
	color: #fff;
}
/**sect attention**/
.pr_mae-beg-sect-attention {
	padding: 28px 20px 40px;
	background: rgba(237, 242, 242, 0.5);
}
.pr_mae-beg-sat-box {}
.pr_mae-beg-sat-txt-box {}
.pr_mae-beg-sat-ttl001 {
	margin-bottom: 10px;
	font-size: 13px;
	font-weight: bold;
	color: #BD4D4D;
}
.pr_mae-beg-sat-list {
	margin-bottom: 25px;
}
.pr_mae-beg-sat-list li {
	position: relative;
	padding-left: 16px;
	font-size: 13px;
	line-height: 1.69;
	font-weight: bold;
}
.pr_mae-beg-sat-list li + li {
	margin-top: 8px;
}
.pr_mae-beg-sat-list li:before {
	content: "";
	position: absolute;
	top: 4px;
	left: 0;
	width: 9px;
	height: 9px;
	background: #CC8585;
	-webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
        transform: rotate(45deg);
}
.pr_mae-beg-sat-ttl002 {
	position: relative;
	margin-bottom: 10px;
	padding-left: 30px;
	font-size: 13px;
	font-weight: bold;
	color: #000066;
}
img.pr_mae-beg-sat-ttl002icon {
	position: absolute;
	top: -2px;
	left: 0;
	width: 20px;
	height: 20px;
}
.pr_mae-beg-sat-ttl002-txt {
	margin-bottom: 20px;
	font-size: 13px;
	line-height: 1.69;
}
.pr_mae-beg-sat-ttl002-txt strong {
	font-weight: bold;
}
/**sect attention end**/

/**process sect**/
.pr_mae-beg-process-sect {
	margin-bottom: 77px;
}
.pr_mae-beg-process-sect .pr_mae-beg-sect-lead {
	margin-bottom: 22px;
}
.pr_mae-beg-pro-sample-list-box {
	margin-bottom: 30px;
}
.pr_mae-beg-pro-sample-list {	
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	  -ms-flex-wrap: wrap;
	      flex-wrap: wrap;
	margin: 0 -8px;
}
.pr_mae-beg-pro-sample-list li {
	width: 50%;
	padding: 0 8px;
}
.pr_mae-beg-pro-sample-list li:nth-child(n+3) {
	margin-top: 17px;
}
.pr_mae-beg-pro-sample-list li img {
	margin-bottom: 8px;
}
.pr_mae-beg-pro-sample-list li span {
	display: block;
	font-size: 13px;
	text-align: center;
}
.pr_mae-beg-pro-note-define {
	margin-bottom: 32px;
}
.pr_mae-beg-pro-note-define dt {
	margin-bottom: 13px;
	padding-bottom: 12px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	/*color: #404040;*/
	border-bottom: 1px dotted #858382;
}
.pr_mae-beg-pro-note-define dd {
	font-size: 14px;
	line-height: 2;
}
.pr_mae-beg-pro-note-define dd strong {
	font-weight: bold;
	color: #CC6262;
}
/**process sect end**/

/**gift sect**/
.pr_mae-beg-gift-sect {}
.pr_mae-beg-gift-sect .pr_mae-beg-sect-ttl {
	margin-bottom: 29px;
}
.pr_mae-beg-gift-main {
	margin-bottom: 34px;
}
.pr_mae-beg-gift-main img {
	margin-bottom: 24px;
}
.pr_mae-beg-gift-main .pr_mae-beg-sect-lead {
	margin-bottom: 15px;
}
.pr_mae-beg-gmain-note {
	margin-bottom: 19px;
	font-size: 14px;
	font-weight: bold;
	line-height: 2;
}
.pr_mae-beg-gmain-accent {
	position: relative;
	padding-left: 14px;
	font-size: 14px;
}
.pr_mae-beg-gmain-accent:before {
	content: "";
	position: absolute;
	top: 4px;
	left: 0;
	width: 9px;
	height: 9px;
	background: #CC8585;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.pr_mae-beg-txt-link {
	position: relative;
	display: inline-block;
	padding-right: 20px;
	font-size: 16px;
	font-weight: bold;
	color: #000066;
	text-decoration: underline !important;
}
.pr_mae-beg-txt-link:visited,
.pr_mae-beg-txt-link:active,
.pr_mae-beg-txt-link:link {
	color: #000066;
}
.pr_mae-beg-txt-link.pr_mae-beg-arrow:before {
	right: 0;
	width: 8px;
  height: 16px;
}
.pr_mae-beg-margin-cancel {
	margin-bottom: 0;
}
/**gift sect end**/


/***pc***/
@media screen and (min-width: 768px) {
	.pr_mae-beg-fv-ttl {
		font-size: 32px;
	}
	.pr_mae-beg-fv-img {
		height: auto;
	}
	.pr_mae-beg-fv-txt-anker-box {
		padding: 33px 0 45px;
	}
	.pr_mae-beg-fv-lead {
		max-width: 750px;
		margin: 0 auto;
		margin-bottom: 22px;
		line-height: 2.14;
	}
	.pr_mae-beg-fv-anker-list {
		display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		    justify-content: center;
		max-width: 810px;
		margin: 0 auto;
		margin-bottom: 25px;
		background: #F6F5F2;
	}
	.pr_mae-beg-fv-anker-list li {
		position: relative;
		padding: 0 46px;
	}
	.pr_mae-beg-fv-anker-list li + li:before {
		position: absolute;
		top: 50%;
		left: 0;
		content: "";
		width: 1px;
		height: 20px;
		background: #000066;
		-webkit-transform: translateY(-50%) rotate(25deg);
    -ms-transform: translateY(-50%) rotate(25deg);
        transform: translateY(-50%) rotate(25deg);
	}
	.pr_mae-beg-fv-anker-list li a {
		padding: 15px 20px;
		font-size: 20px;
	}
	.pr_mae-beg-fv-anker-list li + li {
		margin-top: 0;
	}
	.pr_mae-beg-fv-anker-list li a {
		background: none;
	}
	/**all sect common**/
	.pr_mae-beg-sect-ttl {
		margin-bottom: 42px;
		padding-bottom: 10px;
		font-size: 24px;
	}
	.pr_mae-beg-sect-lead {
		max-width: 750px;
    margin: 0 auto;
    margin-bottom: 30px;
		line-height: 2.14;
		text-align: center;
	}
	.pr_mae-beg-slide-name {
		margin-bottom: 21px;
	}
	.pr_mae-beg-sel-list li img {
		margin-bottom: 1px;
	}
	/**all sect common end**/
	.pr_mae-beg-slide-box {
		max-width: 100%;
		margin-bottom: 80px;
		padding: 0 36px;
	}
	.pr_mae-beg-slide-box .bx-wrapper .bx-pager {
		bottom: -37px !important;
	}
	.pr_mae-beg-slide-box .bx-pager-item .bx-pager-link {
		margin: 0 7px !important;
	}
	.pr_mae-beg-square-link {
		max-width: 750px;
		margin-bottom: 50px;
		padding: 16px 20px 15px;
	}
	.pr_mae-beg-arrow-link:before,
	.pr_mae-beg-arrow:before {
		right: 19px;
    width: 14px;
    height: 27px;
	}
	.pr_mae-beg-square-link strong {
		margin-bottom: 5px;
    font-size: 22px;
	}
	.pr_mae-beg-square-link span {
		font-size: 13px;
	}
	.pr_mae-beg-sect-attention {
		padding: 50px 20px 60px;
	}
	.pr_mae-beg-sat-box {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		    justify-content: space-between;
		-webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
		max-width: 888px;
    margin: 0 auto;
	}
	.pr_mae-beg-sat-txt-box {
		max-width: 530px;
    width: 60%;
	}
	img.pr_mae-beg-sat-main-img {
		margin-top: 12px;
		width: 38%;
	}
	/**select sect start**/
	.pr_mae-beg-select-sect {
		margin-bottom: 87px;
	}
	.pr_mae-beg-sel-list li {
		padding: 0 20px;
	}
	/**select sect end**/

	/**attension area start**/
	.pr_mae-beg-sat-list {
		margin-bottom: 39px;
	}
	.pr_mae-beg-sat-ttl002 {
		margin-bottom: 8px;
	}
	.pr_mae-beg-sat-ttl002-txt {
		margin-bottom: 0;
		line-height: 2;
	}
	/**attension area end**/
	.pr_mae-beg-process-sect .pr_mae-beg-sect-lead {
		margin-bottom: 42px;
	}
	.pr_mae-beg-pro-sample-list-box {
		margin-bottom: 35px;
	}
	.pr_mae-beg-pro-sample-list {
		margin: 0 -15px;
	}
	.pr_mae-beg-pro-sample-list li {
		width: 25%;
    padding: 0 15px;
	}
	.pr_mae-beg-pro-sample-list li:nth-child(n+3) {
		margin-top: 0;
	}
	.pr_mae-beg-pro-sample-list li img {
		margin-bottom: 14px;
	}
	.pr_mae-beg-pro-note-define {
		max-width: 750px;
		margin: 0 auto;
		margin-bottom: 32px;
	}
	.pr_mae-beg-pro-note-define dd {
		text-align: center;
		line-height: 2.14;
	}
	/*process*/
	.pr_mae-beg-process-sect {
		margin-bottom: 87px;
	}
	.pr_mae-beg-process-sect .pr_mae-beg-sat-box {
		-webkit-box-align: end;
		-webkit-align-items: flex-end;
		-ms-flex-align: end;
		    align-items: flex-end;
	}
	/**gift sect start**/
	.pr_mae-beg-gift-sect .pr_mae-beg-sect-ttl {
		margin-bottom: 59px;
	}
	.pr_mae-beg-gift-main {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		/*-webkit-box-align: start;
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		    align-items: flex-start;*/
		max-width: 932px;
    margin: 0 auto;
    margin-bottom: 49px;
	}
	.pr_mae-beg-gmain-img-box {
		width: 48%;
	}
	.pr_mae-beg-gift-main img {
		/*width: 48%;*/
		margin-bottom: 0;
	}
	.pr_mae-beg-gmain-txt {
		width: calc(100% - 48% - 30px);
		margin-left: 30px;
	}
	.pr_mae-beg-gift-main .pr_mae-beg-sect-lead {
		margin-top: -7px;
    margin-bottom: -2px;
		text-align: left;
	}
	.pr_mae-beg-gmain-note {
		margin-bottom: 30px;
		font-size: 16px;
		line-height: 1.875;
	}
	.pr_mae-beg-gmain-accent {
		font-size: 16px;
	}
	.pr_mae-beg-gmain-accent:before {
		top: 6px;
	}
	.pr_mae-beg-txt-link {
		padding-right: 20px;
	}
	.pr_mae-beg-txt-link:hover {
		text-decoration: none !important;
	}
	.pr_mae-beg-txt-link.pr_mae-beg-arrow:before {
		width: 9px;
    height: 18px;
	}
	.pr_mae-beg-margin-cancel {
		margin-bottom: 0;
	}
	/**gift sect end**/
}
/***sp***/
@media screen and (max-width: 767px) {
	.pr_mae-beg-fv-ttl-box {
		margin-left: -20px;
		margin-right: -20px;
	}
	.pr_mae-beg-sect-attention {
		margin: 0 -20px;
	}
}

/****beginer page end****/

/****about page start****/

/***pc-sp-common***/
/**fv**/
.pr_mae-ab-fv-area {}
.pr_mae-ab-fv-ttl-box {
	position: relative;
}
.pr_mae-ab-fv-ttl-box img {
	object-fit: cover;
	min-height: 140px;
	height: 37.3vw;
}
.pr_mae-ab-fv-ttl {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color: #fff;
}
/**process**/
.pr_mae-ab-process-sect {}
.pr_mae-ab-pro-txt-outer {
	padding: 24px 0 36px;
	background: #f6f5f2;
}
.pr_mae-ab-pro-txt-box {
	padding: 0 20px;
}
.pr_mae-ab-pro-ttl {
	margin-bottom: 15px;
	font-size: 18px;
	line-height: 1.77;
	text-align: center;
}
.pr_mae-ab-pro-lead {
	font-size: 14px;
	line-height: 2;
}
.pr_mae-ab-pro-lead + .pr_mae-ab-pro-lead {
	margin-top: 14px;
}
.pr_mae-ab-pro-list {
	padding: 40px 0 60px;
}
.pr_mae-ab-pro-list li + li {
	margin-top: 75px;
}
.pr_mae-ab-plist-img-box {
	margin-bottom: 16px;
}
.pr_mae-ab-plist-img-box img + img {
	margin-top: 0;
}
.pr_mae-ab-pro-list-define {
	text-align: left;
}
.pr_mae-ab-pro-list-define dt {
	display: inline-block;
	padding-bottom: 5px;
	margin-bottom: 12px;
	font-size: 18px;
	border-bottom: 1px solid #707070;
}
.pr_mae-ab-pro-list-define dd {
	display: block;
	width: 100%;
	font-size: 14px;
	line-height: 2;
}
.pr_mae-ab-pro-list-define dd + dd {
	margin-top: 13px;
}
/*link*/
.pr_mae-ab-square-link {
	position: relative;
	display: block;
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
	padding: 12px 30px;
	text-align: center;
	color: #000066;
	border: 1px solid #000066;
}
.pr_mae-ab-square-link:before {
	content: "";
	position: absolute;
	top: 50%;
	right: 10px;
	width: 8px;
	height: 15px;
	background: url(https://gigaplus.makeshop.jp/maeharakouei/proto_add/img/common/icon_link-arrow-right.svg) no-repeat;
	background-size: 100% auto;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.pr_mae-ab-square-link:visited,
.pr_mae-ab-square-link:hover,
.pr_mae-ab-square-link:active {
	color: #000066;
}
.pr_mae-ab-square-link span {
	position: relative;
	display: inline-block;
	padding-right: 20px;
	font-size: 16px;
	color: #000066;
}
.pr_mae-ab-blank span:before {
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	width: 12px;
	height: 12px;
	display: block;
	background: url(https://gigaplus.makeshop.jp/maeharakouei/proto_add/img/common/icon_target-blank.svg) no-repeat;
	background-size: 100% auto;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	  transform: translateY(-50%);
}
/***pc***/
@media screen and (min-width: 768px) {
	.pr_mae-ab-fv-ttl {
		font-size: 32px;
	}
	img.pr_mae-ab-fv-img {
		height: auto;
	}
	.pr_mae-ab-pro-txt-outer {
		padding: 42px 0 56px;
	}
	.pr_mae-ab-pro-txt-box {
		max-width: 880px;
    margin: 0 auto;
	}
	.pr_mae-ab-pro-ttl {
		margin-bottom: 25px;
		line-height: 1.88;
	}
	.pr_mae-ab-pro-lead {
		font-size: 14px;
		line-height: 2.14;
	}
	.pr_mae-ab-pro-lead + .pr_mae-ab-pro-lead {
		margin-top: 23px;
	}
	.pr_mae-ab-pro-list {
		max-width: 1140px;
    margin: 0 auto;
		padding: 70px 0 70px;
	}
	.pr_mae-ab-pro-list li {
		display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		    align-items: flex-start;
		-webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
	}
	.pr_mae-ab-pro-list li + li {
		margin-top: 59px;
	}
	.pr_mae-ab-plist-img-box {
		max-width: 945px;
		width: 31.6%;
    margin: 0;
    margin-right: 27px;
	}
	.pr_mae-ab-plist-img-box img {
		width: 100%;
	}
	.pr_mae-ab-pro-list-define {
		max-width: 750px;
    width: calc( (100% - 31.6%) - 27px);
    margin: 0;
	}
	.pr_mae-ab-pro-list-define dt {
		padding-bottom: 11px;
		margin-bottom: 11px;
		font-size: 20px;
		line-height: 1;
	}
	.pr_mae-ab-pro-list-define dd {
		margin-top: 0;
		line-height: 2.14;
	}
	.pr_mae-ab-pro-list-define dd + dd {
		margin-top: 11px;
	}
	.pr_mae-ab-square-link {
		max-width: 360px;
	}
	.pr_mae-ab-square-link:hover {
		opacity: 1;
    color: #fff;
    background: #000066;
	}
	.pr_mae-ab-square-link:before {
		width: 7px;
    height: 13px;
	}
	.pr_mae-ab-square-link:hover::before {
    background: url(https://gigaplus.makeshop.jp/maeharakouei/proto_add/img/common/icon_link-hover-arrow-right.svg) no-repeat;
    background-size: 100% auto;
	}
	.pr_mae-ab-square-link:hover span {
		color: #fff;
	}
	.pr_mae-ab-square-link:hover span:before {
		background: url(https://gigaplus.makeshop.jp/maeharakouei/proto_add/img/common/icon_hover-target-blank.svg) no-repeat;
		background-size: 100% auto;
	}
}
/***sp***/
@media screen and (max-width: 767px) {
	.pr_mae-ab-fv-ttl-box {
		margin-left: -20px;
		margin-right: -20px;
	}
	.pr_mae-ab-pro-txt-outer {
		margin: 0 -20px;
	}
}

/****about page end****/

/****how to use start****/
.pr_mae-how-first-area {
	margin-bottom: 23px;
}
.pr_mae-how-fi-txt-box {
	max-width: 945px;
	margin: 0 auto;
}
.pr_mae-how-fi-ttl {
	margin-bottom: 18px;
	font-size: 22px;
}
.pr_mae-how-fi-lead {
	font-size: 14px;
}
.pr_mae-how-all-sect {}
.pr_mae-how-all-sect + .pr_mae-how-all-sect {
	margin-top: 80px;
}
.pr_mae-how-sect-width {
	max-width: 945px;
	margin: 0 auto;
	text-align: center;
}
.pr_mae-how-sect-note-box {
	margin-bottom: 100px;
}
.pr_mae-how-sect-ttl {
	position: relative;
	display: inline-block;
	margin-bottom: 24px;
}
.pr_mae-how-sect-ttl span {
	position: relative;
	z-index: 5;
	padding: 0 8px;
	font-size: 18px;
	font-weight: bold;
	background: #fff;
}
.pr_mae-how-sect-ttl:before,
.pr_mae-how-sect-ttl:after {
	content: "";
	position: absolute;
	top: calc(50% - 1px);
	width: 11px;
	height: 2px;
	background: #4D4D4D;
}
.pr_mae-how-sect-ttl:before {
	left: -11px;
}
.pr_mae-how-sect-ttl:after {
	right: -11px;
}

.pr_mae-how-sect-note-box {
	margin-bottom: 59px;
}
.pr_mae-how-sect-note-last {
	margin-bottom: 0;
}
.pr_mae-how-sect-note-ttl {
	margin-bottom: 23px;
	padding: 6px 0 5px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background: #F1EFEB;
	border-radius: 6px;
}
.pr_mae-how-sect-list {
	max-width: 750px;
  margin: 0 auto;

}
.pr_mae-how-sect-list li + li {
	margin-top: 17px;
}
.pr_mae-how-slist-txt {
	position: relative;
	padding-left: 16px;
	font-size: 14px;
	line-height: 1.85;
	text-align: left;
}
.pr_mae-how-slist-txt:before {
	content: "";
	position: absolute;
	top: 7px;
	left: 0;
	width: 9px;
	height: 9px;
	background: #000066;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.pr_mae-how-slist-img-item img {
	width: 100%;
  margin: 0 auto;
	margin-top: 13px;
	margin-bottom: 33px;
}
.pr_mae-how-slist-img-item.img-note-item img {
	margin-bottom: 7px;
}
.pr_mae-how-slist-note {
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}
/*main001*/
.pr_mae-how-main001-sect {
	margin-bottom: 93px;
}

/***pc***/
@media screen and (min-width: 768px) {
	#how-to-use.pr_mae-main {
		padding-top: 39px;
	}
	.pr_mae-how-first-area {
		margin-bottom: 53px;
	}
	.pr_mae-how-fi-ttl,
	.pr_mae-how-fi-lead {
		text-align: center;
	}
	.pr_mae-how-fi-ttl {
		margin-bottom: 23px;
		font-size: 30px;
	}
	/*how-sect-all*/
	.pr_mae-how-sect-ttl {
		margin-bottom: 30px;
	}
	.pr_mae-how-sect-ttl:before, .pr_mae-how-sect-ttl:after {
		width: 15px;
	}
	.pr_mae-how-sect-ttl:before {
		left: -15px;
	}
	.pr_mae-how-sect-ttl:after {
		right: -15px;
	}
	.pr_mae-how-sect-ttl span {
		padding: 0 13px;
		font-size: 24px;
	}
	.pr_mae-how-sect-note-ttl {
		margin-bottom: 25px;
		padding: 13px 0 11px;
	}
	.pr_mae-how-sect-list li + li {
		margin-top: 19px;
	}
	.img-note-item {
		margin-bottom: 29px;
	}
	.pr_mae-how-slist-note {
		line-height: 1.66;
	}
	.pr_mae-how-slist-img-item img {
		width: 52.6%;
		margin-top: 14px;
		margin-bottom: 36px;
	}
	.pr_mae-how-slist-img-item.img-note-item img {
		margin-bottom: 10px;
	}
	.pr_mae-how-slist-large-img img {
		width: 58.5%;
	}
	.pr_mae-how-slist-large002-img img {
		width: 70.5%;
	}
}

/***sp***/
@media screen and (max-width: 767px) {
	#how-to-use.pr_mae-main {
		padding-top: 19px;
	}
	.pr_mae-beg-fv-ttl-box {
		margin-left: -20px;
		margin-right: -20px;
	}
	.pr_mae-beg-sect-attention {
		margin: 0 -20px;
	}
}

/****how to use end****/